<template>
  <div>
      <h1>Crud</h1>
       <button v-on:click="irAgregar">Agregar</button>
      <hr>

      <table border="1" width="80%">
          <thead>
              <tr>
                <th>Nombre</th>
                <th>Acción</th>
              </tr>
              <template v-for="(item,index) of listProducts">
                <tr v-bind:key="`item-${index}`">
                    <td>{{item.name}}</td>
                    <td>
                        <button v-on:click="deleteProduct(item)">Eliminar</button>
                        <button v-on:click="$router.push(`/crud/edit/${item.id}`)">Editar</button>
                    </td>
                </tr>
              </template>
          </thead>
      </table>
      
  </div>

</template>

<script>
export default {
    name: "CrudView",
    components:{

    },
    data(){
        return {
            listProducts: []
        }
    },
    created(){
        this.searchProduct();
    },
    computed: {

    },
    methods: {
        irAgregar(){
            this.$router.push('/crud/add');
        },
        deleteProduct(item){
            let id = item.id;
            fetch(`http://localhost:8000/api/products/${id}`,
            {
                headers: {
                    //'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                method: 'DELETE'
            })
            .then(response => {
                console.log(response);

                if(response.status == '404'){
                    console.log('error:','no existe el la ruta',{
                        url: response.url,
                        messsage: response.statusText
                    });
                    return {};
                }else if(response.status == '500'){
                    console.log('error:','error en el archivo',{
                        url: response.url,
                        messsage: response.statusText
                    });
                    return {};
                }else if(response.status == '200' || response.status == '201'){
                    return response.json();
                }
                console.log('no cumple el estatus',response.status);
                return {};
                
            })
            .then(result =>{
                console.log('result',result);
                if(result.success){
                    this.searchProduct();
                }
                
            })
            .catch(error=>{
                console.log('error',error);
            })
        },
        searchProduct(){
            fetch('http://localhost:8000/api/products')
            .then(response => {
                console.log(response);

                if(response.status == '404'){
                    console.log('error:','no existe el la ruta',{
                        url: response.url,
                        messsage: response.statusText
                    });
                    return [];
                }else if(response.status == '500'){
                    console.log('error:','error en el archivo',{
                        url: response.url,
                        messsage: response.statusText
                    });
                    return {};
                }else if(response.status == '200' || response.status == '201'){
                    return response.json();
                }
                console.log('no cumple el estatus',response.status);
                return {};
                
            })
            .then(result =>{
                console.log('result',result);
                if(result.success){
                    console.log(result.data);
                    this.listProducts = result.data;
                }
                
            })
            .catch(error=>{
                console.log('error',error);
            })
        }
    }
}
</script>

<style>

</style>