<template>
  <div>
      <h1>Editar</h1>

       <label for="name">Nombre:</label><br>
       <input 
        type="text"
        id="name"
        name="name"
        v-model="infoProduct.name">
       
       <br><br>

       <label for="detail">Detalle:</label><br>
       <textarea 
            id="detail" 
            name="detail" 
            v-model="infoProduct.detail" 
            rows="4" 
            cols="50"
        >
        </textarea>

        <br>
      <button v-on:click="editProduct">Modificar</button>
      <hr>
      
  </div>

</template>

<script>
export default {
    name: "CrudView",
    components:{

    },
    data(){
        return {
            infoProduct:{
                id: null,
                name: null,
                detail: null
            },
            errorValidate: false
        }
    },
    created(){
        this.infoProduct.id =  this.$route.params.id;
        this.showProduct();
    },
    computed: {

    },
    methods: {
        irAgregar(){
            this.$router.push('/crud/agregar');
        },
        showProduct(){
            let id = this.infoProduct.id;
            fetch(`http://localhost:8000/api/products/${id}`)
            .then(response => {
                console.log(response);

                if(response.status == '404'){
                    console.log('error:','no existe el la ruta',{
                        url: response.url,
                        messsage: response.statusText
                    });
                    return {};
                }else if(response.status == '500'){
                    console.log('error:','error en el archivo',{
                        url: response.url,
                        messsage: response.statusText
                    });
                    return {};
                }else if(response.status == '200' || response.status == '201'){
                    return response.json();
                }
                console.log('no cumple el estatus',response.status);
                return {};
                
            })
            .then(result =>{
                console.log('result',result);
                if(result.success){
                    this.infoProduct.id = result.data.id;
                    this.infoProduct.name = result.data.name;
                    this.infoProduct.detail = result.data.detail;
                    console.log('data',result.data );
                }
                
            })
            .catch(error=>{
                console.log('error',error);
            })
        },
        editProduct(){
            let id = this.infoProduct.id;
            fetch(`http://localhost:8000/api/products/${id}`,{
                headers: {
                    //'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                method: 'PUT',
                body: JSON.stringify(this.infoProduct)
            })
            .then(response => {
                if(response.status == '422'){
                    console.log('error:','validacion de datos',{
                        url: response.url,
                        messsage: response.statusText
                    });
                    this.errorValidate = true;
                    return response.json();
                }else if(response.status == '200' || response.status == '201'){
                    return response.json();
                }
                console.log('no cumple el estatus',response.status);
                return {};
            })
            .then(result =>{
                console.log('result',result);
                if(result.success){
                    console.log('correcto',result.data)   
                    this.$router.push({name:'crud'})                
                }else if(result.success == false){
                    this.errorList = result.data;
                    console.log('errorValidate',result.data)
                }else{
                    console.log('respuesta no definida')
                }
                //this.listProducts = result.data;
            })
            .catch(error=>{
                console.log('error',error);
            })
        },
        
    }
}
</script>

<style>

</style>