<template>
  <div>
      <h1>Agregar</h1>
      <label for="name">Nombre:</label><br>
       <input 
        type="text"
        id="name"
        name="name"
        v-model="infoProduct.name">
       
       <br><br>

       <label for="detail">Detalle:</label><br>
       <textarea 
            id="detail" 
            name="detail" 
            v-model="infoProduct.detail" 
            rows="4" 
            cols="50"
        >
        </textarea>

        <br>
      <button v-on:click="addProduct">Guardar</button>
      <hr>
      
  </div>

</template>

<script>
export default {
    name: "CrudView",
    components:{

    },
    data(){
        return {
            infoProduct:{
                name: null,
                detail: null
            },
            errorValidate: false
        }
    },
    created(){
        
    },
    computed: {

    },
    methods: {
        irAgregar(){
            this.$router.push('/crud/agregar');
        },
        addProduct(){
            fetch('http://localhost:8000/api/products',{
                headers: {
                    //'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                method: 'POST',
                body: JSON.stringify(this.infoProduct)
            })
            .then(response => {
                if(response.status == '422'){
                    console.log('error:','validacion de datos',{
                        url: response.url,
                        messsage: response.statusText
                    });
                    this.errorValidate = true;
                    return response.json();
                }else if(response.status == '200' || response.status == '201'){
                    return response.json();
                }
                console.log('no cumple el estatus',response.status);
                return {};
            })
            .then(result =>{
                console.log('result',result);
                if(result.success){
                    console.log('correcto',result.data);
                    this.$router.push({name:'crud'});                   
                }else if(result.success == false){
                    this.errorList = result.data;
                    console.log('errorValidate',result.data)
                }else{
                    console.log('respuesta no definida')
                }
                //this.listProducts = result.data;
            })
            .catch(error=>{
                console.log('error',error);
            })
        },
        
    }
}
</script>

<style>

</style>