<template>
  <div>
      <h1>Login</h1>
      <label for="email">Correo:</label><br>
       <input 
        type="text"
        id="email"
        name="email"
        v-model="info.email"
        >
       
       <br><br>

       <label for="password">Contraseña:</label><br>
       <input 
        type="password"
        id="password"
        name="password"
        v-model="info.password">

        <br>
      <button v-on:click="loginUser">Iniciar Sesión</button>
      <hr>
      
  </div>

</template>

<script>
import { mapState, mapGetters, mapMutations, mapActions } from 'vuex'

export default {
    name: "LoginView",
    components:{

    },
    data(){
        return {
            info:{
                email: null,
                password: null
            },
            errorValidate: false
        }
    },
    created(){
        
    },
    computed: {

    },
    methods: {
        ...mapActions(['fnLogin']),
        loginUser(){
            let dataGlobal = {
                info: {},
                status: false
            }

            fetch('http://localhost:8000/api/login',{
                headers: {
                    //'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                method: 'POST',
                body: JSON.stringify(this.info)
            })
            .then(response => {
                if(response.status == '422'){
                    console.log('error:','validacion de datos',{
                        url: response.url,
                        messsage: response.statusText
                    });
                    this.errorValidate = true;
                    return response.json();
                }else if(response.status == '200' || response.status == '201'){
                    return response.json();
                }
                console.log('no cumple el estatus',response.status);
                return {};
            })
            .then(result =>{
                console.log('result',result);
                if(result.success){
                    console.log('correcto',result.data);
                    let data = {
                        info: result.data,
                        status: true
                    }
                    this.fnLogin(data);
                    this.$router.push({name:'crud'});                   
                }else if(result.success == false){
                    this.errorList = result.data;
                    this.fnLogin(dataGlobal);
                    console.log('errorValidate',result.data)
                }else{
                    this.fnLogin(dataGlobal);
                    console.log('respuesta no definida')
                }
                //this.listProducts = result.data;
            })
            .catch(error=>{
                console.log('error',error);
            })
        }
    }
}
</script>