<template>
  <div class="about">
    <h1>Perfil</h1>

    <pre>{{user}}</pre>

    <h6>Usuario Actual</h6>
    <pre>{{currentUser}}</pre>
  </div>
</template>
<script>
import { mapState, mapGetters, mapMutations, mapActions } from 'vuex'

export default {
    name: "LoginView",
    components:{

    },
    data(){
        return {
            currentUser: {}
        }
    },
    created(){
        this.searchCurrentUser();
    },
    computed: {
      ...mapState(['authenticated','user']),
      ...mapGetters(['getAuthenticated','getUser'])
    },
    methods: {
      searchCurrentUser(){
          let token = this.user.token;
            fetch('http://localhost:8000/api/user-current',
            {
                headers: {
                    'Authorization' : `Bearer ${token}`,
                    'Content-Type'  : 'application/json'
                },
            })
            .then(response => {
                console.log(response);

                if(response.status == '404'){
                    console.log('error:','no existe el la ruta',{
                        url: response.url,
                        messsage: response.statusText
                    });
                    return [];
                }else if(response.status == '500'){
                    console.log('error:','error en el archivo',{
                        url: response.url,
                        messsage: response.statusText
                    });
                    return {};
                }else if(response.status == '200' || response.status == '201'){
                    return response.json();
                }
                console.log('no cumple el estatus',response.status);
                return {};
                
            })
            .then(result =>{
                console.log('result',result);
                if(result.success){
                    console.log(result.data);
                    this.currentUser = result.data;
                }
                
            })
            .catch(error=>{
                console.log('error',error);
            })
        }
    }
}
</script>