<template>
  <div id="app">
    <nav>
      <router-link to="/">Home</router-link> |
      <router-link to="/about">About</router-link> |
      <router-link to="/crud">Crud</router-link> |
      <template v-if="!authenticated">
        <router-link to="/login">Login</router-link> |
        <router-link to="/register">Registro</router-link>
      </template>
      <template v-if="authenticated">
          <router-link to="/private">Zona Privada</router-link> |
          <router-link to="/profile">Pefil</router-link> |
          <button v-on:click="logoutUser">Cerrar Sesión</button>
      </template>
    </nav>
    <router-view/>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations, mapActions } from 'vuex'

export default {
    name: "LoginView",
    components:{

    },
    data(){
        return {
            
        }
    },
    created(){
        
    },
    computed: {
      ...mapState(['authenticated','user']),
      ...mapGetters(['getAuthenticated','getUser'])
    },
    methods: {
      ...mapActions(['fnLogout']),
      logoutUser(){
        let token = this.user.token;
        fetch('http://localhost:8000/api/logout',
        {
            headers: {
                'Authorization' : `Bearer ${token}`,
                'Content-Type'  : 'application/json'
            },
            method: 'POST',
            body: JSON.stringify({token: token})
        })
        .then(response => {
          console.log(response);

          if(response.status == '200' || response.status == '201'){
              return response.json();
          }
          console.log('no cumple el estatus',response.status);
          return {};
        })
        .then(result =>{
          console.log('result',result);
          if(result.success){
            this.fnLogout();
            this.$router.push('/')
          }
        })
        .catch(error=>{
            console.log('error',error);
        })
  }
    }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

nav {
  padding: 30px;
}

nav a {
  font-weight: bold;
  color: #2c3e50;
}

nav a.router-link-exact-active {
  color: #42b983;
}
</style>
